<div class="apartment-list-container">
  <div *ngIf="apartmentList$ | async as apartmentList; else loader">
    <mat-toolbar color="primary" class="company-info">
      <h4>
        {{
          apartmentList.agentInfo?.firstname +
            " " +
            apartmentList.agentInfo?.lastname
        }}
        | {{ apartmentList.agentInfo?.company }}
      </h4>
    </mat-toolbar>

    <mat-toolbar class="primary-light">
      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxFlex="100"
        class="filter-box"
      >
        <div class="filter-box-rent" (click)="filterRents()">
          <p class="filter-box-rent-text">
            Rent
            <img
              src="https://my.smartapartmentdata.com/assets/images/arrow-down-white.svg"
              width="7px"
            />
          </p>

          <p class="filter-box-rent-text">
            {{ minPrice | currency: "USD":"symbol":"1.0-0" }} -
            {{
              selectedPrice >= 1
                ? (selectedPrice | currency: "USD":"symbol":"1.0-0")
                : (maxPrice | currency: "USD":"symbol":"1.0-0")
            }}
          </p>
        </div>

        <div class="filter-box-bed" (click)="filterBeds()">
          <p class="filter-box-bed-text">
            Bedrooms
            <img
              src="https://my.smartapartmentdata.com/assets/images/arrow-down-white.svg"
              width="7px"
            />
          </p>

          <p class="filter-box-bed-text">
            {{ studio ? "Studio ," : null }}
            {{ oneBed ? " 1 Bed ," : null }} {{ twoBed ? " 2 Bed ," : null }}
            {{ threeBed ? " 3 Bed " : null }}
          </p>
        </div>
      </div>
    </mat-toolbar>

    <!-- PRICE RANGE -->
    <mat-toolbar class="secondary" *ngIf="togglePriceFilter">
      <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%">
        <mat-slider
          fxFlex="100%"
          [max]="maxPrice"
          [min]="minPrice"
          [step]="10"
          [thumbLabel]="true"
          [(ngModel)]="selectedPrice"
        >
        </mat-slider>

        <h4 (click)="filterRents()" style="color: #000000">Done</h4>
      </div>
    </mat-toolbar>

    <!-- BEDROOMS -->
    <mat-toolbar
      color="primary"
      style="background: #f2eef5"
      *ngIf="toggleBedFilter"
    >
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100%">
        <mat-checkbox class="bedroom-checkbox" [(ngModel)]="studio"
          >Studio</mat-checkbox
        >
        <mat-checkbox class="bedroom-checkbox" [(ngModel)]="oneBed"
          >1 Bed</mat-checkbox
        >
        <mat-checkbox class="bedroom-checkbox" [(ngModel)]="twoBed"
          >2 Bed</mat-checkbox
        >
        <mat-checkbox class="bedroom-checkbox" [(ngModel)]="threeBed"
          >3 Bed</mat-checkbox
        >

        <h4 (click)="filterBeds()" style="color: #000000">Done</h4>
      </div>
    </mat-toolbar>

    <!-- body -->
    <mat-nav-list class="apartment-list">
      <mat-card
        class="apartment-list-card"
        *ngFor="
          let list of apartmentList.records
            | filterPrice: selectedPrice
            | filterBedrooms: studio:oneBed:twoBed:threeBed
        "
        routerLink="/smart-apartment"
        [queryParams]="{
          item: 'apartmentItem',
          propertyId: list.propertyID
        }"
      >
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start">
              <h4>{{ list.name }}</h4>
              <p>{{ list.streetAddress }}, {{ list.city }}</p>

              <div
                fxLayout="row"
                fxLayoutAlign="space-between center"
                class="apartment-list-details"
              >
                <div
                  *ngFor="
                    let floor of list.floorplans
                      | filterPriceItem: selectedPrice
                      | filterBedroomItem: studio:oneBed:twoBed:threeBed
                  "
                >
                  <div fxLayout="row">
                    <img
                      src="https://my.smartapartmentdata.com/assets/images/0-bed.svg"
                      *ngIf="floor.bedrooms == 0"
                      class="bed-zero"
                    />
                    <img
                      src="https://my.smartapartmentdata.com/assets/images/1-bed.svg"
                      *ngIf="floor.bedrooms == 1"
                      class="bed"
                    />
                    <img
                      src="https://my.smartapartmentdata.com/assets/images/2-bed.svg"
                      *ngIf="floor.bedrooms == 2"
                      class="bed"
                    />
                    <img
                      src="https://my.smartapartmentdata.com/assets/images/3-bed.svg"
                      *ngIf="floor.bedrooms == 3"
                      class="bed"
                    />
                    <span class="rent">{{ floor.price | currency }}+ </span>
                  </div>
                </div>
              </div>

              <p class="light-grey">
                {{ list.highValueAmenities.length }} High Value Amenities
              </p>
            </div>
            <div>
              <img
                mat-card-sm-image
                [src]="list.photo"
                class="image-preview"
                *ngIf="list.photo; else preview"
              />

              <ng-template #preview>
                <img
                  mat-card-sm-image
                  src="http://flxtable.com/wp-content/plugins/pl-platform/engine/ui/images/image-preview.jpg"
                  class="image-preview"
                />
              </ng-template>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-nav-list>
  </div>

  <ng-template #loader>
    <div class="ph-item">
      <div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-6 big"></div>
          <div class="ph-col-4 empty big"></div>
          <div class="ph-col-2 big"></div>
          <div class="ph-col-12 big"></div>
          <div class="ph-col-12 big mb-50"></div>
        </div>
        <div class="ph-picture"></div>
        <div class="ph-picture"></div>
        <div class="ph-picture"></div>
        <div class="ph-picture"></div>
      </div>
    </div>
  </ng-template>
</div>
