<div class="sidenav">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav id="sidenavContainer" #sidenav mode="side" [opened]="true">
      <!-- APARTMENT LIST ITEM -->
      <app-apartment-list-item
        *ngIf="activeQuery?.item == 'apartmentItem'; else apartmentList"
      ></app-apartment-list-item>

      <!-- APRTMENT LIST -->
      <ng-template #apartmentList>
        <app-apartment-list
          (openSidenavClick)="toggleSidenav($event, sidenav)"
        ></app-apartment-list>
      </ng-template>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <div class="sidenav-content__wrapper">
        <!-- MAP -->
        <app-map
          [sidenavState]="sidenav"
          (openSidenavClick)="toggleSidenav($event, sidenav)"
        ></app-map>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
