<div class="sidenav">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      id="sidenavContainer"
      #sidenav
      mode="side"
      [opened]="mobileQuery.matches ? 'false' : 'true'"
    >
      <app-apartment-list-item
        *ngIf="activeQuery?.item == 'apartmentItem'; else apartmentList"
      ></app-apartment-list-item>

      <ng-template #apartmentList>
        <app-apartment-list></app-apartment-list>
      </ng-template>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <div class="sidenav-content__wrapper">
        <app-map></app-map>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
