@import "../../../../assets/styles/sass/styles.scss";

.plan {
  height: 58vh;
  padding: 12px;
  overflow-y: auto;

  h3 {
    color: $primary-color-contrast;
  }

  h4 {
    font-size: 14px;
  }

  p {
    color: $paragraph-primary;
  }

  .text {
    margin-left: 57px;
  }

  ::ng-deep .mat-list-item-content {
    padding: 0px 0px !important;
  }
}
