@import "../../../../../assets/styles/sass/styles.scss";

.apartment-list-container {
  .company-info {
    height: 40px;
  }

  p {
    color: $paragraph-primary;
  }

  .apartment-list {
    padding: 10px;
    overflow-y: auto;
    height: 84vh;

    @include max-height(710px) {
      height: 80vh;
    }

    @include max-height(541px) {
      height: 75vh;
    }

    &-card {
      border-radius: 0px;
      margin-bottom: 10px;
    }

    &-details {
      margin: 5px 0px;

      .rent {
        margin-left: 3px;
        font-weight: 400;
        font-size: 13px;
        margin-right: 10px;
      }

      .bed {
        width: 15px;

        &-zero {
          width: 5px;
        }
      }
    }

    .light-grey {
      color: #9e9e9e;
    }

    .image-preview {
      width: auto;
    }
  }

  .filter-box {
    &-common {
      &-text {
        color: $text-white;
        margin-bottom: 12px;

        img {
          margin-bottom: 2px;
          margin-left: 3px;
        }
      }
    }
  }

  .bedroom-checkbox {
    color: $color-black;
  }

  .favorite {
    font-size: 14px;
  }
}
